@import "./mixins/flex";

.flex-wrapper {
  padding: 0;
  margin: 0;
  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(center);
  @include align-items(flex-start);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  .flex-half {
    position: relative;
    width: 50%;
    @include flexbox;
    @include align-items(center);
    &.center {
      @include justify-content(center);
      @include align-items(center);
      text-align: center;
    }
  }
  &.center, .center {
    @include justify-content(center);
    @include align-items(center);
  }
}
