@import "./mixins/flex";
@import './flexbox';
@import './vars';

html, body {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
/* Styles */
body {
  font-family: Nevis;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  font-size: 14px;
  font-size: 100%;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

h2, h4 {
  margin: 0;
  padding: 0 15px;
}

p {
  margin: 0;
  font-size: 35px;
  line-height: 40px;
  font-size: 7vh;
  line-height: 10vh;
  padding: 15px;
  .center {
    text-align: center;
  }
  &.small-text {
    font-size: 3vh;
    line-height: 5vh;
  }
}

.cursor-click {
  cursor: url('./images/click.png'), auto;
}

.cursor-scroll {
  cursor: url('./images/scroll.png'), auto;
}

.cursor-download {
  cursor: s-resize;
}

.react-draggable, .cursor {
  cursor: move;
  cursor: url('./images/move.png'), auto;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}

.image-wrapper {
  float: left;
  position: relative;
  display: inline-block;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  img {
    float: left;
  }
}
.rainbow {
  animation-name: rainbow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-overflow: clip;
  white-space: nowrap;
  padding: 0;
  margin: 15px;
  overflow: hidden;
}

// Card stuff
.card {
  position: absolute;
  top: 0;
  right: 0;
  left: 10px;
  bottom: 0;
  border-left: 3px solid black;
  transition: all .5s linear;
  background: white;
  &.active {
    left: 20px;
  }
  &.move-it {
    left: 100%;
    opacity: 0;
    transition: all 1s linear;
  }
  &.left-align {
    transition: all 0s linear;
    left: -3px;
  }
  &.four {
    left: 0;
  }

  .sidebar {
    left: 0;
    height: 100vh;
    z-index: 1;;
    padding-left: 5px;
  }
}

.work {
  img {
    max-width: 300px;
  }
}

.page {
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
  left: 20px;
  height: 100%;
  overflow: hidden;
  .flex-wrapper, .flex-half {
    height: 100%;
  }
  .about {
    .flex-half {
      background: $turquoise;
      color: $white;
      transition: all 1s linear;
      &:hover {
        background: $white;
        color: $turquoise;
      }
    }
  }
}

button {
  width: 100%;
  padding: 20px;
  border: 3px solid #fff;
  margin: 20px 0 0;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Nevis-Bold;
  font-weight: 400;
  background-color: #00FFEC;
  color: #FFF;
  cursor: pointer;
}
.full-width-button {
  width: 100%;
  @include flexbox;
  @include justify-content(center);
  @include align-content(center);
  @include align-items(center);
  text-transform: uppercase;
  font-size: 4vh;
  padding: 7px 0;
  color: white;
  button {
    border: 3px solid $white;
    width: 85%;
    &:hover {
      border: 3px solid $turquoise;
      background: $white;
      color: $turquoise;
    }
  }
}

.scrolltext {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  right: -10px;
  padding: 0 15px;
  width: calc(100% - 30px);
  p:nth-child(2) {
    padding-top: 0;
  }
}



.leave {
  opacity: 1;
}

.leaveActive {
  transition: all .5s;
  opacity: 0;
}

.appear {
  opacity: 0;
  transition: all .5s linear;
}

.appearActive {
  opacity: 1;
  transition: all .5s linear;
  left: 0px ;
}

.enter {
  opacity: 0;
  &.enterActive {
    transition: all .5s;
    opacity: 1;
  }
}


.one {
  .leave .one { transform: translate3d(0, 0, 0); }
  .leaveActive .one { transform: translate3d(100%, 0, 0); }
  .appear { left: -15px; }
  .enter { left: -15px; }
}

.two {
  .leave .two { transform: translate3d(0, 0, 0); }
  .leaveActive .two { transform: translate3d(100%, 0, 0); }
  .appear { left: -30px; }
  .enter { left: -30px; }
}

.three {
  .leave .three { transform: translate3d(0, 0, 0); }
  .leaveActive .three { transform: translate3d(100%, 0, 0); }
  .appear { left: -45px; }
  .enter { left: -45px; }
}

// Transition page slider
// .pageSlider-enter {
//   opacity: 1;
//   left: -10px !important;
//   background: red;
// }
//
// .pageSlider-leave {
//   .move {
//     transform: translate3d(0, 0, 0);
//   }
//   opacity: 1;
// }
//
// .pageSlider-leave.pageSlider-leave-active {
//   .move {
//     transform: translate3d(100%, 0, 0);
//   }
//   opacity: 0;
//   transition: all 1s;
// }
//
// .pageSlider-enter.pageSlider-enter-active {
//   transition: all 1s;
//   opacity: 1;
//   background: black;
//   left: 0 !important;
// }
