$turquoise: #00ffec;
$white: #fff;
$brightteal: #00ffec;
$teal: #00b3a5;
$red: #ff9aa0;
$darkred: #ff4d59;

@font-family {
  font-family: Nevis;
  src: url(./font/nevis.ttf);
}

@keyframes rainbow {
  0%   {color: $brightteal;}
  25%  {color: $teal;}
  50%  {color: $darkred;}
  100% {color: $red;}
}

@keyframes rainbow-background {
  0%   {background-color: $brightteal;}
  25%  {background-color: $teal;}
  50%  {background-color: $darkred;}
  100% {background-color: $red;}
}
